.personal_img {
  flex: 1;
  border-radius: 25px;
  border-style: solid;
  width: 10%;
}


.aboutme_comb {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}

.aboutme_img{
  flex: 1;
  border-radius: 25px;
  border-style: solid;
  align-self: center;
}

.aboutme_info {
  flex: 3;
  position: relative;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  align-self: center;
}

.aboutme_info p{
  padding: 0px;
  margin: 0;
  padding-left: 40px;
  text-align: left;
}

.aboutme_info h2{
  padding: 0px;
  padding-left: 40px;
  text-align: left;
  margin: 0;
}

#me_photo {
  width: 10%;
}

.tab {
  display: flex;
  text-align: center;
}

.header {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.work {
  flex: 1;
  text-align: center;
}

.projects {
  flex: 1;
  text-align: center;
}

.personal {
  flex: 1;
  text-align: center;
}



.title {
  font-size: 500%;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 50px;
}

body {
    background-color: rgb(249, 247, 234);
  }
  
  h1 {
    color: rgb(12, 1, 24);
    background-color: rgb(91, 152, 185);
    text-align: center;
    font-family: Garamond;
    font-size: 4rem;
  }
  
  p {
    font-family: verdana;
    font-size: 1rem;
  }

  p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }

  h2 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }

  h2 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }